.popup{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(5px);
  overflow: auto;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #ff8000;
  color: #fff;
  text-shadow: 0 2px #00000011;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: stretch;
  box-shadow: 0 4px 3px 0 #00000022;
  z-index: 10;
  border-radius: 0 0 8px 8px;
}
header .row{
  flex: 3;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
}
header .row .item{
  margin: 18px;
}

.selectors {
  display: flex;
  margin: 16px;
}
header .more{
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ce6700;
  border-radius: 0 0 8px 8px;
  box-shadow: inset 0 2px 2px #00000011;
}
header .show{
  display: flex;
}

#delete-info{
  margin: 0 auto;
  background-color: #ff3c00;
}

@media screen and (min-width: 868px){
  header{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: start;
  }
  header .more{
    display: flex;
    width: fit-content;
    justify-content: end;
    background-color: transparent;
    box-shadow: none;
  }
  header .menu{
    display: none;
  }
}

button {
  padding: 8px;
  border: none;
  background-color: #ff8000;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0 2px 4px #00000022;
  transition: all 0.2s;
}

button.inner {
  color: #ff8000;
  background-color: #fff;
}

button:hover{
  box-shadow: 0 4px 8px #00000033;
  transform: scale(1.05) translateY(-3px);
}

button.menu {
  box-shadow: inset 0 2px 5px #00000022;
  transform: scale(0.95) translateY(2px);
  background-color:#ce6700;
  font-size: 24px;
  width: 48px;
  height: 48px;
}
button.menu:hover {
  box-shadow: inset 0 -2px 5px #00000022, 0 2px 5px #00000022;
  background-color:#ffa143;
}

.visible {
  display: inline-block;
}
.visible-flex{
  display: flex;
}
.gone{
  display: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 12px;
}

.slots {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;

}
.form-container .slots{
  flex-direction: column;

}

.slots .card {
  margin-top: 12px;
}

.pb-container{
  width: 150px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid #ededed;
  overflow: hidden;
  margin: 24px auto;
  box-shadow: inset 0 4px 8px #00000022;
}
.pb{
  width: 100%;
  height: 100%;
  position:relative;
  border-radius: 24px;
  background-color: #ff8000;
  animation: loading 2s ease-in-out infinite;
  box-shadow: inset 0 4px 8px #ffffff55;
}

button.prev{
  box-shadow: none;
  color: #000;
  background-color: #fff;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  margin-left: -8px;
  margin-top: 4px;
}
button.prev:hover{
  box-shadow: inset 0 2px 4px #00000022;
  transform: translateY(2px);
}
.vertical-spacer{
  height: 12px;
  width: 0;
}

.empty{
  width: 400px;
  font-weight: 700;
  font-size: 24px;
  color: #ff8000;
  text-transform: uppercase;
  text-align: center;
  margin: 8px auto;
  text-shadow: 0 1px 3px #ff80008f;
  animation: glow 1s ease infinite;
}

@keyframes glow {
  from{
    color: #ff8000;
  }
  50%{
    color: #ffb871;
  }
  to {
    color: #ff8000;
  }
}

@keyframes loading {
  from{
      left: -100%;
  }
  to{
      left: 100%;
  }
}